
  <font size=+1 face=arial,helvetica><b>Query Map Examples</b></font>
  <p>

  <table cellpadding="3" cellspacing="0" border="0">
    <tr><td><img border="2" src="[img]"></td>
    <td><img border="2" src="[program]?map=[map]&queryfile=[map_web_imagepath]DEMO[id].qy[get_layers]&mode=map&size=200+200"></td></tr>
    <tr><th align="center">standard querymap</th>
    <th align="center">cached query</th></tr>
  </table>

  <script language="javascript">
    var regex = /WMS_SERVER/;
    var layers = "[layers]";
    var bbox = "[imgext]";

    if(regex.test("[version]"))
      document.write("<p><a href=\"[program]?map=[map]&REQUEST=GetFeatureInfo&query_layers=" + layers.replace(/ /g, ',') + "&VERSION=1.1.0&x=[img.x]&y=[img.y]&INFO_FORMAT=gml&bbox=" + bbox.replace(/ /g, ',') +  "\">download GML version</a></p>\n")

  </script>

  </body>
</html>
